---
import { career } from "../../data/career";
---

<div class="tab-panel" data-tab="career">
	<div class="flex flex-col">
		<h3 class="mb-2">Career timeline:</h3>
		<div class="timeline-container relative">
			{
				career.map((entry) => (
					<div class="timeline-item relative pl-4 pb-6 border-l border-dotted border-neutral-500 ">
						<div class="timeline-dot absolute left-1 top-2 w-1 h-1 bg-white rounded-full -translate-x-1.5" />
						<div class="timeline-content">
							<div class="text-sm text-neutral-400">
								{entry.period}
							</div>
							<div class="font-medium">{entry.description}</div>
							<div class="text-sm text-neutral-400">
								{entry.institution}
							</div>
						</div>
					</div>
				))
			}
		</div>
	</div>
</div>

<style>
	.timeline-container {
		padding-left: 1px;
	}
	.timeline-item:last-child {
		padding-bottom: 0;
	}
</style>
