---
import { type ContactInfo, contactInfo } from '../../data/contact';

interface Props {
    class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={["tab-panel", className]} data-tab="contact">
    <div class="flex flex-col gap-4">
        <p class="text-base">
            Reach out to me for collaborations, opportunities, or just to say hello.
        </p>
        <p>
            Email:
            <a href={`mailto:${contactInfo.email}`} class="tab-link text-primary border-b border-dotted">
                {contactInfo.email}
            </a>
        </p>
        <p>
            <a href={contactInfo.meetingUrl} class="tab-link text-primary border-b border-dotted">
                Schedule a meeting
            </a>
        </p>
    </div>
</div> 