---

---

<div class="tab-panel" data-tab="overview">
	<div class="flex flex-col gap-4">
		<p class="text-base">
			Gledrian is a Software Engineer with an unhealthy obession for tech
			and sports.
		</p>
		<p class="text-base">
			<a
				href="https:/github.com/gutche"
				target="_blank"
				class="tab-link text-primary border-b border-dotted">
				Read full CV
			</a>
		</p>
	</div>
</div>
