<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=VT323&display=swap"
			rel="stylesheet"
		/>
		<meta
			name="description"
			content="Gledrian Gutierrez's Home on the Web"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>Gledrian Gutierrez</title>
	</head>
	<body>
		<div class="md:h-screen flex md:overflow-hidden">
			<div class="lines flex-1"></div>
			<slot />
			<div class="lines flex-1"></div>
		</div>
		<div class="noise"></div>
		<audio id="click-sound" src="/src/assets/click.wav" preload="auto"
		></audio>
		<audio id="switch-sound" src="/src/assets/switch.wav" preload="auto"
		></audio>
		<audio id="bgAudio" src="/src/assets/ambient.mp3" loop preload="auto"
		></audio>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, #242424, #111);
		color: white;
	}
</style>
